In [1]:
import yfinance as yf
from math import sqrt

In [2]:
def parser(x):
    return datetime.datetime.strptime(x,'%Y-%m-%d')

In [3]:
# Get the data for the stock AAPL
start = '2012-01-01'
end = '2022-10-28'
ticker_symbol = 'SPY'

stock_data = yf.download(ticker_symbol, start, end)

[*********************100%***********************]  1 of 1 completed

In [4]:
stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-03,127.760002,128.380005,127.430000,127.500000,104.071907,193697900
2012-01-04,127.199997,127.809998,126.709999,127.699997,104.235153,127186500
2012-01-05,127.010002,128.229996,126.430000,128.039993,104.512657,173895000
2012-01-06,128.199997,128.220001,127.290001,127.709999,104.243324,148050000
2012-01-09,128.000000,128.179993,127.410004,128.020004,104.496346,99530200
...,...,...,...,...,...,...
2022-10-21,365.119995,374.799988,363.540009,374.290009,374.290009,130897700
2022-10-24,375.890015,380.059998,373.109985,378.869995,378.869995,85436900
2022-10-25,378.790009,385.250000,378.670013,384.920013,384.920013,78846300
2022-10-26,381.619995,387.579987,381.350006,382.019989,382.019989,104087300
2022-10-27,383.070007,385.000000,379.329987,379.980011,379.980011,81971800

In [5]:
stock_price = stock_data['Close']

In [6]:
stock_price

Date
2012-01-03    127.500000
2012-01-04    127.699997
2012-01-05    128.039993
2012-01-06    127.709999
2012-01-09    128.020004
                 ...
2022-10-21    374.290009
2022-10-24    378.869995
2022-10-25    384.920013
2022-10-26    382.019989
2022-10-27    379.980011
Name: Close, Length: 2724, dtype: float64

In [7]:
stock_price.to_csv('spy_data.csv')